@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f1b1b;
    --second-bg-color: #ac0a0a;
    --text-color: #ac0a0a;
    --main-color: #a52a2a;
    --text-color-secondary: #fff;

  --primary-color: #ac0a0a;
  --secondary-color: #caf0f8;
  --third-color: #1f1b1b;
  --text-color-primary: #fff;
  --text-color-secondary: #fff;
  --text-font-family-primary: "Titillium Web", sans-serif;
  --text-font-family-default: "Poppins", sans-serif;
  --border: 2px solid var(--primary-color);
  --border-radius: 10px;
  --transition: all ease-in-out 0.3s;
}

.btn-1{
    color: var(--text-color-primary);
}
html {
    font-size: 68.5%;
    overflow-x: hidden;
    font-family: var(--text-font-family-default);
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   background: var(--bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100; 
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo {
    height: 100%;
    width: 15%;
  }
  .logo img {
    width: 30%;
  }
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color-secondary);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
section {
    min-height: 100vh;
    padding: auto;
}

.home {
    color: var(--text-color-secondary);
    background-image: url("./images/9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

span{
    color: var(--second-bg-color);
}

.text {
    color: var(--text-color-primary);
    font-size: 1.7rem;
    font-weight: 200;
}

.contents {
  background-color: rgba(1, 1, 1, 0.6);
  padding: 15% 3%;
  width: 100%;
  min-height: 100vh;
}

.hero-section__title {
    font-size: 7rem;
}
.hero-section span {
    color: var(--primary-color);
}
.button-container {
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
}
.primary-button,
.secondary-button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-primary);
}

.secondary-button,
.primary-button:hover {
  background-color: transparent;
  color: var(--text-color-secondary);
}

.hero-section__description {
  font-size: 2rem;
  width: 85%;
  margin: 0 auto;
}
.about {
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--text-color-primary);
    min-height: 100vh;
}

.btn:hover {
    box-shadow: none;
}

.about-img img {
    width: 35vw;
    border-radius: 20px;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 2.6rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}
.services {
  text-align: center;
  padding: 5rem 5% 2rem;
  min-height: 100vh;
}

.bx {
    color: var(--primary-color);
}
.services-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  gap: 10px;
  transition: .5s ease;
}

.services-boxs {
  margin-top: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  width: 25%;
  height: 28rem;
  padding-top: 1rem;
}
.service-paragraphe {
    font-size: 3rem;
    font-weight: 400;
    text-decoration: overline;
}
p{
    font-size: 1.5rem;
    font-weight: 300;
}
.services-boxs:hover {
    background-color: var(--second-bg-color);
    transform: scale(1.02);
    color: var(--text-color-primary);
} 

.services-boxs i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-boxs p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services-boxs h3 {
    font-size: 1.6rem;
}

.portfolio {
    background: var(--second-bg-color);
    min-height: 100vh;
    text-align: center;
    padding: 5rem 5% 2rem;
}
.rea {
    color: var(--text-color-primary);
    padding-bottom: 2rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.9rem 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
}
/*.portfolio-layer p {
    font-size: 1.6rem;
    margin: .2rem 0 1rem;
}
*/
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
.contact {
    min-height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    padding: 5rem 5% 2rem;
}
.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--text-color-secondary);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 20px;
  }
  
  .footer-container p {
    text-align: justify;
    color: #fff;
  }
  
  .lina_text {
    color: var(--bg-color);
    font-size: 2rem;
  }
.foote-bottom{
    background-color: #1f1b1b;
    padding: 20px;
    text-align: center;
}
.foote-bottom p{
    color: var(--text-color-primary);
}
disigner{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 768px) {
   #menu-icon {
    display: block;
   } 
   .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
   }
   .navbar.active {
    display: block;
   }
   .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
   }
   .home {
    flex-direction: column;
    padding: 0px;
   }
   .contents{
    width: 100%;
   }
   .hero-section-overlay{
    padding-top: 10rem;
   }
   .about {
        flex-direction: column-reverse;
   }
   .about img {
        width: 70vw;
        margin-top: 4rem;
   }
   .services h2 {
        margin-bottom: 3rem;
   }
   .services-container{
     flex-direction: column-reverse;
   }
   .services-boxs {
    width: 100%;
   }
   .portfolio h2 {
        grid-template-columns: repeat(2, 1fr);
   }
   .footer-container {
    flex-direction: column-reverse;
    padding: 0px;
   }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer-container {
        gap: 10px;
        padding: 5px;
    }
}
@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 1rem;
    }
    .footer-container {
        gap: 10px;
        padding: 5px;
    }
}